---

---
<div class="about">
    <small class="version">
        v1.0
    </small>
    <p>
        This is my first react project. There are obvious issues, mostly dealing with styles.
        I plan on building on this app in the future.
    </p>
</div>