---
import Layout from '../layouts/Layout.astro';
import App from '../App';
import Header from '../layouts/Header.astro';
---

<Layout title="Welcome to Expense Calculator">
	<Header />
	<main class="app-container">
		<App client:load/>
	</main>
</Layout>
<style is:global lang="scss">

	html,*{
		box-sizing: border-box;
	}
	main{
		text-align: center;
		align-items: center;
	}
	
	.input-form,form{
		display: flex;
		flex-flow: column nowrap;
		width: 20rem;
		gap: 1.5rem;
		margin: 2rem auto;
		justify-content: center;
		align-items: center;
		
	}
	button,label,input{
		all: unset;
	}
	
	input{
		background-color: #fff;
		padding: .5em;
		width: 80%;
	}
	.btn-group{
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	button{
		background-color: #fff;
		padding: .5rem 2rem;
	}
	

	.list{
		display: flex;
		flex-flow: column nowrap;
		padding: 1rem;
		list-style: none;
		
	}
	.list-item{
		width: 100%;
		padding: 0.25em 0.5em;
		background-color: #fff;
		&:nth-of-type(odd){
			background-color: #b6b6b6;
		}
	}
	.income-remaining{
		display: block;
		bottom: 0;
	}
	.red{
		color: red;
	}
	.green{
		color: green;
	}
	label,p{
		font-size: 1.25rem;
	}
	.income-init{
		padding-bottom: 2rem;
	}
</style>