---

---

<header>
	<div class="brand">
		<h2>Expense Calculator</h2>
		<small>Calcultate Your Monthly Expenses</small>
	</div>
	<nav>
		<div class="nav-item"><a href="">Expense App</a></div>
		<div class="nav-item"><a href="">About</a></div>
	</nav>
</header>

<style lang="scss">
	@media (min-width: 768px) {
		header {
			display: flex;
			margin-bottom: 1.5rem;
			padding: 1.5rem;
			.brand {
				flex: 1;
                margin-left: 2rem;
			}
			nav {
				display: flex;
				align-self: center;
                gap: 2rem;
                margin-right: 2rem;
                margin-top: 0;
                flex-flow: row nowrap;
				a {
					font-size: 1.15rem;
					color: #fff;
					&:visited {
						color: #fff;
					}
				}
			}
		}
        h2{
		font-size: 2.5rem;

        }
	}
	header {
		background-color: #5044ff;
		color: beige;
        padding: 2rem;

	}
    .brand{
        width: 100%;
    }
    nav{
        margin-top: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 2rem;
    }
	h2 {
		margin: 0;
		font-size: 1.85rem;
	}

	a {
        color: #fff;
        text-decoration: none;
        &:visited{
            color: #fff;
        }
	}
    
</style>
